[Session]
# details for the session
username = xxxxx
password = xxxxx
service = NEXTAPI
url = api.test.nordnet.se
base_url = api.test.nordnet.se/next
api_version = 1

[System]
# relative paths here
keypath = keys/
keyfile = NEXTAPI_TEST_public.pem
